.step-vertical {
  min-width: 122px;
}
.step-vertical h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; 
  letter-spacing: 0.1px;
}

.step-vertical ol{
  margin-top: 8px;
}
.step-vertical ol > li {
  position: relative; 
  display: flex; 
  color: #888;
}

.step-vertical ol > li strong::after { 
   content: "";
   position: absolute;
   z-index: 2;
   left: -3px;
   top: 8px;
   transform: translateX(50%);
   border-radius: 50%;
   background: #d7d7d7;
   width: 8px;
   height: 8px;
   transform: scale(1);
}

.step-vertical ol > li.current::after {
  transform-origin: center center;
  animation-duration: 800ms;
  animation-name: pulsate;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  transition: all 1s 0.01s; 
  content: "";
  position: absolute;
  z-index: 99;
  left: -4px;
  top: 7px;
  transform: translateX(50%);
  border-radius: 50%;
  background: #d7d7d7;
  width: 10px;
  height: 10px;
  transform: scale(1);
  opacity: 0;
  background-color: transparent;
  border: 2px solid #5B86D4;
}

@keyframes pulsate {
  from { 
    opacity: 0;
    transform:scale(1);
  }
  to { 
    transform: scale(1.4);
    opacity: 0.3;
  }
} 

.step-vertical ol > li.active > strong::after {
  background:#5B86D4;
}


.step-vertical ol > li > strong {
  position: relative;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding: 0px 0px 37px 16px;
  color: #888;
}

.step-vertical ol > li.active > strong {
  color: #5B86D4;
}


.step-vertical ol > li > strong::before {
  top: -45px;
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  height: calc(100% - 8px);
  border-left: 2px #d7d7d7 solid;
}

.step-vertical ol > li:first-child > strong::before {
  top: 9px;
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  height: calc(100% - 9px);
  border-left: 0px #d7d7d7 solid;
}

.step-vertical ol > li.active > strong::before {
  border-left: 2px #5B86D4 solid;
}


.step-vertical ol > *::before, 
.step-vertical ol > *::after { box-sizing: border-box; }