.title-wrap > h5.title {
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  color: #222;
  font-weight: 500;
}

.title-wrap > div > h6.sub-title {
  font-size: 14px;
  font-style: normal;
  line-height: 21px; 
  letter-spacing: 0.1px;
  font-weight: 300;
  color: #666;
  padding-top: 10px;
}

.backtest .title-wrap > h6.sub-title {
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 300 !important;
  line-height: 18px !important;
  color: #444 !important;
}

.sub-title-img {
  width: 35%;
  margin-left: 30px;
}