/* .select {
  display: flex;
  width: 90px;
  height: 28px;
  padding: 8px 4px 8px 8px;
  align-items: center;
}

.select > .selected {

}

.select > ul {
  display: block;
} */


.select-button-list-wrap {
  display: flex;
  flex-direction: column;
  height: initial;
  background-color: transparent;
  z-index: 9;
}

.select-button-list > .select-button-list-head-wrap {
  display: flex;
  height: 28px;
  padding: 8px 4px 8px 8px;
  align-items: center;
  justify-content: right;
}

.select-button-list .select-button-list-head {
  display: flex;
  align-items: center;
}
.select-button-list .select-button-list-head > ul {
  display: flex;
}

.select-button-list .select-button-list-head > ul > li {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px
}

.select-button-list .select-button-list-head > ul > li:first-child::before {
  content: '';
  display: none;
}
.select-button-list .select-button-list-head > ul > li::before {
  content: '·';
}

.select-button-list .select-button-list-head > .selected {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.select-button-list .select-button-list-head .arrow {
  width: 16px;
  height: 16px;
}

.select-button-list-options {
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);  
}

.select-button-list-options > .select-button-list-option-wrap > h6 {
  display: flex;
  height: 48px;
  padding: 16px 8px 4px 8px;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  align-items: center;
  color: #888;
  border-top: 1px solid #eee
}

.select-button-list-options > .select-button-list-option-wrap > h6:first-child {
  height: 36px;
  padding: 4px 8px 4px 8px;
  border-top: none;
}

.select-button-list-options > .select-button-list-option-wrap > ul > li {
  display: flex;
  height: 32px;
  padding: 4px 8px;
  align-items: center;
  gap: 10px;
}

.select-button-list-options > .select-button-list-option-wrap > ul > li > .button {
  display: flex;
  align-items: center;
  width: 100%;
}

.select-button-list-options > .select-button-list-option-wrap > ul > li.active {
  background-color: #eee;
}

.select-button-list-options > .select-button-list-option-wrap > ul > li:hover {
  background-color: #eee;
}

.select-button-list-option-wrap > .select-button-list-option-button-wrap {
  padding: 12px;
}

.select-button-list-option-wrap > .select-button-list-option-button-wrap > .button {
  display: flex;
  width: 100%;
  height: 30px;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
}

/* .select-options .select-button-list-option-wrap > .select-option-group > .select-option.active,
.select-options .select-button-list-option-wrap > .select-option-group > .select-option:hover {
  background-color: #F8F8F8;
} */